body {
  margin: 0;
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: aquamarine;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  color: white;
}

h1 {
  font-family: 3rem;
  text-align: center;
}
